{% extends "base.html" %}

{% block content %}

<div class="col-md-12 col-sm-12 col-xm-12 left-pane">
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            Add Item
        </div>

        <div class="panel-body text-left">
 
            <form name="form" method="post">
                <div class="form-group">
 
                    <label for="item_lbl">Name *</label>
                    <input type='text' name="name" required>
                    <input type="hidden" name="uid" value="2">

                </div>

                <div class="form-group">

                    <label for="item_desc_lbl">Description *</label>
                    <textarea class="form-control" input name="description" rows="8" required></textarea>

                </div>

                <div class="form_button">

                    <button class="btn btn-primary" type="submit" value="submit">add</button>
                    <a href = "{{url_for('listItems', category_name=category.name)}}" class="btn btn-danger">Cancel</a>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}